.im-mess {
    border-bottom: 1px solid rgba(1, 1, 1, 0.08);
}
.nim-peer--photo img,
.nim-peer .nim-peer--photo-w,
.nim-peer.nim-peer_small .im_grid>img,
.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid>img,
.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo>img {
    border-radius: 10%;
}
#page_layout {
    min-width: 1080px !important;
}
#page_body {
    min-width: 915px !important;
}
.im-right-menu.ui_rmenu {
    margin-left: 685px;
}
.im-page.im-page_classic {
    width: 670px;
}
.im-page.im-page_classic .im-page--header-chat {
    width: 672px;
}
.im-page.im-page_classic .im-mess-stack {
    max-width: 670px;
}
.im-page.im-page_classic .im-mess:not(.im-mess_fwd) {
    max-width: 662px;
}
.im-page.im-page_classic .im-page--header {
    width: 670px;
}
.im-page.im-page_classic .im-page--chat-input {
    width: 670px;
}
.im-chat-input.im-chat-input_classic .im-chat-input--textarea {
    width: 498px;
}
.im-page.im-page_classic .im-page--dialogs-footer {
    width: 670px;
}
body {
    background-color: white;
}
#chat_onl_wrap,
#chat_tab_wrap {
    display: none;
}
.im-page.im-page_classic .im-page--header,
.im-page.im-page_classic .im-page--dialogs-footer {
    max-width: 670px;
}
.nim-peer .nim-peer--photo .im_grid>img,
.nim-peer .nim-peer--photo>img {
    border-radius: inherit;
}
.im-chat-input.im-chat-input_classic .im-chat-input--textarea {
    width: 558px;
}
