.im-mess {
    border-bottom: 1px solid rgba(1, 1, 1, 0.08) !important;
}
.nim-peer--photo img,
.nim-peer .nim-peer--photo-w,
.nim-peer.nim-peer_small .im_grid > img,
.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid > img,
.nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo > img,
.im-prebody img,
.top_profile_img,
.nim-peer.nim-peer_smaller .nim-peer--photo .im_grid > img,
.nim-peer.nim-peer_smaller .nim-peer--photo > img,
.nim-peer.nim-peer_small .nim-peer--photo .im_grid > img,
.nim-peer.nim-peer_small .nim-peer--photo > img {
    border-radius: 10%;
}
#page_layout {
    min-width: 1080px !important;
}
#page_body {
    min-width: 915px !important;
}
.im-right-menu.ui_rmenu {
    margin-left: 685px;
}
.im-page.im-page_classic {
    width: 670px;
}
.im-page.im-page_classic .im-page--header-chat {
    width: 672px;
}
.im-page.im-page_classic .im-mess-stack {
    max-width: 670px;
}
.im-page.im-page_classic .im-mess:not(.im-mess_fwd) {
    max-width: 662px;
}
.im-page.im-page_classic .im-page--header {
    width: 670px;
}
.im-page.im-page_classic .im-page--chat-input {
    width: 670px;
}
.im-chat-input.im-chat-input_classic .im-chat-input--textarea {
    width: 498px;
}
.im-page.im-page_classic .im-page--dialogs-footer {
    width: 670px;
}
body {
    background-color: white;
}
#chat_onl_wrap,
#chat_tab_wrap {
    display: none;
}
.im-page.im-page_classic .im-page--header,
.im-page.im-page_classic .im-page--dialogs-footer {
    max-width: 670px;
}
.nim-peer .nim-peer--photo .im_grid > img,
.nim-peer .nim-peer--photo > img {
    border-radius: inherit;
}
.im-chat-input.im-chat-input_classic .im-chat-input--textarea {
    width: 558px;
}
.im-page.im-page_classic .im-mess:not(.im-mess_fwd).im-mess_unread:not(.im-mess_selected) {
    max-width: 590px;
}
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--inner-text,
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out.nim-dialog_muted .nim-dialog--inner-text {
    width: 523px;
    max-width: 523px;
}
.im-page_classic .im-page--chat-header {
    width: 670px;
}
/*body:after {
    content: '' !important;
    top: -1000px;
}*/
.audio_page_layout .has_friends_block .audio_page__rows_wrap {
    width: 634px;
}
.im-right-menu {
    margin-left: 675px;
}

.im-page_classic.im-page .im-mess:not(.im-mess_fwd).im-mess_unread:not(.im-mess_selected):not(.im-mess_light) {
    max-width: 624px;
}

.im-page_classic.im-page .im-mess-stack_fwd .audio_row {
    max-width: 485px;
}

.im-page_classic.im-page .im-page--header {
    border-top: solid 15px white;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.emoji_tt_wrap {
    width: 570px;
}

.emoji_list {
    height: 700px !important;
    width: 570px !important;
}

.emoji_sticker_item {
    width: 128px;
    height: 144px;
}

.emoji_sticker_image {
    max-width: 128px;
    max-height: 128px;
}

.emoji_tabs_wrap {
    width: 470px;
}

.emoji_tabs_r_s {
    margin-left: 520px;
}

.sticker_hints_tt .emoji_sticker_item {
    height: 128px;
}

.im-chat-input .sticker_hints_tt {
    top: -156px;
}

.emoji_smile_cont {
    padding: 18px 10px;
}
